body {
  font-family: Arila, "Microsoft JhengHei", "PMingLiU", sans-serif;
}

p {
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  text-indent: 20px;
}

#main-slider .item1, #main-slider .item2 {
  background-repeat: no-repeat;
  background-position: 20% 0;
  background-size: cover;
  display: block;
  height: calc(100vh - 80px);
}

.owl-banner .owl-controls .owl-buttons .owl-prev, .owl-banner .owl-controls .owl-buttons .owl-next, .owl-artist .owl-controls .owl-buttons .owl-prev, .owl-artist .owl-controls .owl-buttons .owl-next {
  background-color: #4da5f5;
  border-radius: 0;
  webkit-border-radius: 0;
  color: #FFF;
  font-size: 26px;
  margin: 10px;
  padding: 12px 16px;
}
.owl-banner .owl-controls .owl-buttons .owl-prev:hover, .owl-banner .owl-controls .owl-buttons .owl-next:hover, .owl-artist .owl-controls .owl-buttons .owl-prev:hover, .owl-artist .owl-controls .owl-buttons .owl-next:hover {
  background-color: #000;
}

.animation-element {
  position: relative;
}

.bounce-up {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.owl-banner .owl-controls .owl-buttons .owl-prev {
  position: absolute;
  top: 50%;
  left: 0%;
}
.owl-banner .owl-controls .owl-buttons .owl-next {
  position: absolute;
  top: 50%;
  right: 0%;
}

#main-nav {
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 5;
}
#main-nav .navbar-nav > li > a {
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 30px;
}
#main-nav .navbar-nav > li > a:hover {
  color: #4da5f5;
}

@media screen and (max-width: 768px) {
  #main-nav .Menu {
    height: 80px;
  }
  #main-nav .Menu button {
    margin-top: 20px;
  }
}
#main-slider {
  overflow: hidden;
  position: relative;
  top: 80px;
}
#main-slider .item1 {
  background-image: url("../images/banner1a.jpg");
}
#main-slider .item2 {
  background-image: url("../images/banner2a.jpg");
}

#about, #introduce, #artist-village, #contact {
  padding-top: 100px;
}

#about h2 {
  margin: 30px 15px;
}
#about p {
  padding: 10px 5px;
}

@media screen and (max-width: 768px) {
  #about, #introduce, #artist-village, #contact {
    padding-top: 40px;
  }

  #about {
    margin-top: 17px;
  }
  #about img {
    padding-bottom: 15px;
  }
  #about p {
    margin: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  #about img {
    margin-top: 80px;
  }
}
#introduce h2 {
  margin-bottom: 30px;
}
#introduce .Box {
  margin-bottom: 30px;
}
#introduce .Box .Box-heading img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 120px;
  max-width: 100%;
  width: 100%;
}
#introduce .Box .Box-body {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #dbdbdb;
  padding: 15px 15px;
}
#introduce .Box .Box-body h3 {
  margin: 0 0 10px 0;
}

#artist-village p {
  padding: 30px 15px 20px 20px;
}
#artist-village .Artist {
  padding: 10px 30px 30px 30px;
}
#artist-village .Artist .item {
  margin: 0 15px 15px 15px;
}
#artist-village .Artist img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

#contact #contact-text {
  padding: 30px 20px 20px 20px;
}
#contact .Information {
  margin-top: 30px;
}
#contact label {
  width: 80px;
  text-align: right;
  padding-right: 7px;
}
#contact input, #contact textarea {
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  color: #818181;
  font-size: 16px;
  line-height: 20px;
  max-width: 97%;
  padding: 5px;
  width: 400px;
}
#contact textarea {
  height: 130px;
}
#contact .Form-control {
  margin-bottom: 10px;
}
#contact .Comment label {
  vertical-align: top;
}
#contact #Button-control .Btn-form {
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 120%;
  line-height: 100%;
  letter-spacing: 0.1em;
  padding: 15px 20px;
  transition: 0.2s;
}
#contact #Button-control .Btn-form:hover {
  transform: scale(1.1);
}
#contact #Button-control [type="submit"] {
  background: #5cb85c;
  margin-right: 10px;
}
#contact #Button-control [type="reset"] {
  background: #000;
}

@media screen and (max-width: 768px) {
  #contact {
    margin: 10px;
  }
  #contact form label {
    text-align: left;
  }
}
@media screen and (min-width: 770px) {
  #contact #Button-control {
    margin-left: 87px;
  }
}
footer {
  background-color: #262626;
  color: #fff;
  letter-spacing: 0.1em;
  margin-top: 30px;
  padding: 20px;
}
