#main-slider 
	overflow: hidden
	position: relative
	top: 80px
	.item1
		background-image: url("../images/banner1a.jpg")
		@extend %banner-image
	.item2
		background-image: url("../images/banner2a.jpg")
		@extend %banner-image		

