#main-slider 
	overflow: hidden
	position: relative
	top: 80px
	.Banner 
		background-repeat: no-repeat
		background-position: 20% 0
		background-size: cover
		display: block
		height: calc(100vh - 80px)
	.Level-1
		background-image: url("../images/banner1a.jpg")
	.Level-2
		background-image: url("../images/banner2a.jpg")

