#about,#introduce,#artist-village
	padding-top: 100px
#about
	h1
		@extend %center
		margin-top: 30px
		margin-bottom: 30px
	p 
		@extend %text-style
		padding: 10px 5px

#introduce
	h1
		@extend %center
		margin-bottom: 30px
	.Box 
		margin-bottom: 30px
		.Box-heading
			img	
				border-top-left-radius: 8px
				border-top-right-radius: 8px
				height: 120px
				width: 100%
		.Box-body
			border-bottom-left-radius: 8px
			border-bottom-right-radius: 8px
			background-color: #dbdbdb
			padding: 15px 15px
			h3
				@extend %center
				margin: 0 0 10px 0
			p 
				font-size: 15px
				letter-spacing: 0.1em
				line-height: 1.7em
				text-indent: 15px

#artist-village
	h1
		@extend %center
	p 
		@extend %text-style
		padding: 30px 15px 20px 20px
	h2 
		margin-left: 50px		
	.Artist
		padding: 10px 30px 30px 30px
		.item
			margin: 0 15px 15px 15px
		h3
			text-align: center	
		img
			display: block
			height: auto
			width: 100%

.owl-theme .owl-controls .owl-buttons div
	background-color: #fff 
	color: red
	padding: 3px 2px
	zoom: 3
	
