#about,#introduce,#artist-village,#contact
	padding-top: 100px
#about
	h1
		@extend %center
		margin-top: 30px
		margin-bottom: 30px
	p 
		@extend %text-style
		padding: 10px 5px

#introduce
	h1
		@extend %center
		margin-bottom: 30px
	.Box 
		margin-bottom: 30px
		.Box-heading
			img	
				border-top-left-radius: 8px
				border-top-right-radius: 8px
				height: 120px
				width: 100%
		.Box-body
			border-bottom-left-radius: 8px
			border-bottom-right-radius: 8px
			background-color: #dbdbdb
			padding: 15px 15px
			h3
				@extend %center
				margin: 0 0 10px 0
			p 
				font-size: 15px
				letter-spacing: 0.1em
				line-height: 1.7em
				text-indent: 15px

#artist-village
	h1
		@extend %center
	p 
		@extend %text-style
		padding: 30px 15px 20px 20px
	h2 
		margin-left: 50px		
	.Artist
		padding: 10px 30px 30px 30px
		.item
			margin: 0 15px 15px 15px
		h3
			text-align: center	
		img
			display: block
			height: auto
			width: 100%

.owl-theme .owl-controls .owl-buttons div
	background-color: #4da5f5
	border-radius: 0
	webkit-border-radius: 0
	color: #FFF
	font-size: 26px
	margin: 10px
	padding: 12px 16px
	&:hover
		background-color: #000
	
	
#contact
	#contact-text 
		padding: 30px 20px 20px 20px 
	h1
		@extend %center
	p 
		@extend %text-style
	.Information
		margin-top: 30px

	label
		width: 80px
		text-align: right
		padding-right: 7px
	input,textarea
		border: 1px solid #bdbdbd
		border-radius: 3px
		color: #818181
		font-size: 16px
		line-height: 20px
		max-width: 97%
		padding: 5px
		width: 400px
	textarea
		height: 130px
	.Form-control
		margin-bottom: 10px
	.Comment label
		vertical-align: top
	#Button-control
		.Btn-form
			border: none
			border-radius: 5px
			color: #fff
			font-size: 120%
			line-height: 100%
			letter-spacing: 0.1em
			padding: 15px 20px
			transition: 0.2s
			&:hover
				transform: scale(1.1)	
		[type="submit"]
			background: #5cb85c
			margin-right: 10px
		[type="reset"]
			background: #000
			