#main-nav
	background: $header-bgcolor
	position: fixed
	width: 100%
	z-index: 5
	.navbar-nav>li > a
		font-size: $font-size	
		padding-top: 30px
		padding-bottom: 30px
		&:hover
			color: $link-color-hover




	