#main-nav
	background: $header-bgcolor
	position: fixed
	width: 100%
	z-index: 5
	.navbar-nav>li > a
		font-size: $font-size	
		padding-top: 30px
		padding-bottom: 30px
		&:hover
			color: $link-color-hover

@media(max-width: 768px)
	#main-nav .Menu
		height: 80px
		button
			margin-top: 20px
			margin-right: 30px

	